@import "tailwindcss";

.profile-img {
  animation: profile-img-anime 10s ease-in-out infinite;
  -webkit-animation: profile-img-anime 10s ease-in-out infinite;
}

@keyframes profile-img-anime {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
